/* -----  Created 5-27-21 --------*/
html {
     height: 100%;
     margin: 0;
}

body {
     height: 100%;
     font-size: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url('../img/wow.png') bottom center no-repeat;
     background-size: cover;
}

.centered {
     padding: 0 3.125em;
     font-family: 'Montserrat', sans-serif;
     background: #f16059;
}

h1 {
     font-size: 2em;
     color: #fff;
     text-align: center;
}

/* ------  Screen size Breakpoints ---------- */
@media screen and (min-width: 786px) {
     h1 {
          font-size: 3em;
     }
}

@media screen and (min-width: 1200px) {
     h1 {
          font-size: 4em;
     }
}
